@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f9; /* Fondo general */
  overflow-x: hidden;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.nav-link {
  color: #ffffff !important;
  transition: color 0.3s ease;
  text-align: center;
  margin-right: 10px; 
}
.nav-link:hover {
  color: #ffd700 !important; /* Color dorado al pasar el mouse */
}
.section {
  width: 100%;
  padding: 20px; /* Reducir padding para móviles */
  padding-top: 80px; /* Añadir espacio superior para evitar que quede pegado al header */
  text-align: center;
  height: auto; /* Altura automática */
  min-height: 100vh; /* Cada sección ocupa al menos toda la altura de la ventana */
  color: #333; /* Color del texto para todas las secciones */
}
.bg-color1 {
  background-color: #2c3e50; /* Azul marino */
  color: #ecf0f1; /* Texto blanco */
}
.bg-color2 {
  background-color: #bdc3c7; /* Gris claro */
  color: #2c3e50; /* Texto azul marino */
}
h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}
p {
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 20px;
  color: inherit; /* Hereda el color de la sección */
}
.redes{
  display: flex;
  justify-content: center;
  gap:20px;
}
.pasatiempos__lista{
  margin-top: 5%;
  gap: 5%;
  font-weight:bold;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction:row;
  justify-content: center;
  width: 100%;
}
.pasatiempos__icono{
  display: flex;
  width: 100px;
  border-radius: 30%;
  border: 5px solid black;
}
.pasatiempos__elemento{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.presentacion__imagen{
  margin: 11px;;
  width: 15%;
  border-radius: 50%;
}
.rounded{
  width: 35%;
  border-style:solid;
  border-radius: 25%;
}
.descripcion{
  margin-top: 25px;
  margin-bottom: 0;
}
#section5{
  width: auto;
  height: auto;
}
.experiencia__nombre{
  color: black;
}
.experiencia__detalle{
  color: black;
  font-weight: bold;
  margin-top: 15px;
}
.experiencia__lista{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.experiencia__icono_tgo{
  width: 10%;
}
.experiencia__icono{
  width: 45%;
}
.experiencia__pelota{
    width: 10%;
}
.experiencia__alura{
    width: 50%;
}
.experiencia__elemento{
  background-color: #ffffff;
  border-style:double;
  border: 3px solid black;
  display:flex;
  flex-direction: column;
  text-align: center;
  padding: 5%;
}
.experiencia__elemento2{
  background-color: #ffffff;
  display: flex;
  border-style:double;
  border: 3px solid black;
  flex-direction: column;
  text-align: center;
  padding: 5%;
}
.experiencia__elemento3{
  background-color: #ffffff;
  display: flex;
  border-style:double;
  border: 3px solid black;
  flex-direction: column;
  text-align: center;
  padding: 5%;
}
.experiencia__elemento4{
  background-color: #ffffff;
  display: flex;
  border-style:double;
  border: 3px solid black;
  flex-direction: column;
  text-align: center;
  padding: 5%;
}
.btn-ir {
  border: 1px solid black; /*anchura, estilo y color borde*/
  padding: 10px; /*espacio alrededor texto*/
  background-color: #2e518b; /*color botón*/
  color: #ffffff; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  border-radius: 25px; /*bordes redondos*/
  font-size: 0.7rem;
}
.btn-gh {
  border: 1px solid black; /*anchura, estilo y color borde*/
  padding: 10px; /*espacio alrededor texto*/
  background-color: #2e518b; /*color botón*/
  color: #ffffff; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  border-radius: 25px; /*bordes redondos*/
  font-size: 0.7rem;
}
.btn-gh:hover{
  font-size: 0.8rem;
  color: #ffffff;
}
.btn-ir:hover{
  font-size: 0.8rem;
  color: #ffffff;
}
.contacto{
  padding: 100px;
  text-align: justify;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}
  
.contacto__titulo{
  text-align: center;
}
.contacto__formulario{
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 3%;
}
.contacto__campo--textarea {
  resize:none;
  height: 150px;
}
.contacto__boton{
  font-weight: bold;
}
footer {
  background: linear-gradient(45deg, #1ABC9C, #3498DB);
  color: #ECF0F1;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  bottom: 0;
}
